@import "../mixins.scss";

@keyframes slide {
  0% {
    transform: translate3d(0px, -1692px, 0px);
  }

  100% {
    transform: translate3d(0px, 0px, 0px);
  }
}

.awardWinningBanner {
  display: flex;
  background-color: #e5f8bc;
  overflow: hidden;
  height: 35rem;
  padding: 0 4rem;
  margin: 0 auto;
}

.awardBanner {
  @include firstDisplaySettings;
  flex:  1;
  justify-content: center;
  align-items: flex-start;
}

.awardBanner button {
  margin: 2rem 0 0;
}

.awardBanner h2 {
  @include baseFontFamilyAndColor;
  font-size: 2.74688rem;
  font-style: normal;
  font-weight: 800;
  line-height: 3.5rem;
  letter-spacing: -0.15rem;
}

.gradient {
    --colorA: #000;
    --colorB: #fff;
    cursor: default;
    position: relative;
    background-image: linear-gradient(120deg, var(--colorA) 0%, var(--colorB) 50%, var(--colorA) 100%);
    background-origin: padding-box;
    background-size: 200%;
    box-decoration-break: clone;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: unset;
    animation-timeline: auto;
    animation-range-start: normal;
    animation-range-end: normal;
    overflow: visible;
    animation: 3s linear 0s infinite normal forwards running nextui-k-dAFEPd;  
}

.restaurantsCardsBanner {
  background: url(../../images/awardWinningRestaurants.png) repeat-y;
  height: 5076px;
  animation: 60s linear 0s infinite normal none running slide;
  flex: 1 ;
}

@keyframes nextui-k-dAFEPd {
	100% {
		background-position: -200% center
	}
}
