@import "../mixins.scss";

.go_home_btn {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 5rem;
  &  button {
    width: 320px;
  }
}


.secondHeader {
  @include firstDisplaySettings;
  justify-content: center;
  background-color: #e5f8bc;
  color: #2c2c2c;
  @include baseFontFamilyAndColor;
  font-size: 2.7rem;
  letter-spacing: -0.15rem;
  height: 15rem;
}

.ladies2 {
  display: flex;
  justify-content: center;
  position: relative;
  width: 40%;
  margin: 0 auto;
}

.ladiesImg {
  width: 100%;
  background-color: #f9f9f9;
}

.timeAndOrder {
  background-color: #f9f9f9;
  display: grid;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
}

.timeAndOrder > h2 {
  font-size: 2rem;
  font-weight: 700;
  color: #000;
}

.timeAndOrder > h4 {
  font-size: 1.1rem;
  font-weight: 400;
  color: #000;
}

.yourOrderWrapper {
  background-color: #f9f9f9;
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 0 3rem;
}
