.foodSecondHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 2.74688rem;
  font-style: normal;
  font-weight: 700;
  line-height: 4rem;
  letter-spacing: -0.13738rem;
  height: 15rem;
  margin-bottom: 4rem;
}

.pizzaSecondHeader {
  background: url("../../images/Pizza2.jpeg") center center / cover no-repeat;
}

.burgersSecondHeader {
  background: url("../../images/Burgers2.jpeg") center center / cover no-repeat;
}

.sushiSecondHeader {
  background: url("../../images/Sushi2.jpg") center center / cover no-repeat;
}

.dessertsSecondHeader {
  background: url("../../images/Desserts2.jpeg") center center / cover no-repeat;
}

.asianSecondHeader {
  background: url("../../images/Sushi2.jpg") center center / cover no-repeat;
}

.comfortSecondHeader {
  background: url("../../images/Comfort2.webp") center center / cover no-repeat;
}
