@import "../mixins.scss";

$CommonButtonStyles: (
  display: inline-flex ,
  padding: 1.7rem 1rem  ,
  border-radius: 0.25rem ,
  justify-content: center ,
  align-items: center ,
  flex-shrink: 0 ,
  cursor: pointer
);

@mixin CommonButtonStyles {
  @each $key, $value in $CommonButtonStyles {
    #{$key}: $value;
  }
}

button {
  outline: none !important;
  border: none !important;
}

button:focus {
  box-shadow: none !important;
}


.large-dark {
  @include CommonButtonStyles;
  background-color: #202020 !important;
  color: #fff !important;
}

.large-gray {
  @include CommonButtonStyles;
  background-color: gray !important;
  color: #fff !important;
}

.medium-ghost {
  @include CommonButtonStyles;
  border: 0 !important;
  background: #fff !important;
}
