.large-dark {
  display: inline-flex !important;
  padding: 1.7rem 1rem !important;
  border-radius: 0.25rem !important;
  justify-content: center !important;
  align-items: center !important;
  flex-shrink: 0 !important;
  background-color: #202020 !important;
  color: #fff !important;
  cursor: pointer !important;
}

.large-gray {
  display: inline-flex !important;
  padding: 1.7rem 1rem !important;
  border-radius: 0.25rem !important;
  justify-content: center !important;
  align-items: center !important;
  flex-shrink: 0 !important;
  background-color: gray !important;
  color: #fff !important;
  cursor: pointer !important;
}

.foodBtn {
}

.medium-dark {
}

.medium-green {
}

.medium-ghost {
  display: inline-flex !important;
  height: 3.5rem !important;
  padding: 1rem !important;
  margin: 0.5rem !important;
  justify-content: center !important;
  align-items: center !important;
  gap: 0.625rem !important;
  border: 0 !important;
  flex-shrink: 0 !important;
  border-radius: 0.25rem !important;
  background: #fff !important;
  cursor: pointer !important;
}

.medium {
}

.large-green {
}
