.categoriesWrapper {
  padding: 3rem 5.5rem 4.5rem ;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  flex-direction: column;
}

.textContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.textContainer h2 {
  text-align: left;
  font-size: 2.2rem;
  font-weight: 700;
  color: #000;
  margin-bottom: 1rem;
}

.textContainer button {
  text-align: right;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(6, auto);
  gap: 3.5rem;
}