.CategoriesWrapper {
  padding: 3rem 5.5rem 4.5rem 5.5rem;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  flex-direction: column;
}

.Wrapper {
  display: grid;
  grid-template-columns: repeat(6, auto);
  gap: 3.5rem;
}
.textContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.textContainer h2 {
  text-align: left;
  font-size: 2.2rem;
  font-weight: 700;
  color: #000;
}

.textContainer button {
  text-align: right;
}

a {
  color: #202020;
  text-decoration: none;
}
