@import"../mixins.scss";

.foodButton button {
  background-color: #fff;
  border-radius: 0.25rem;
  cursor: pointer;
  width: 30rem;
  height: auto;
  border: 0;
}

.foodButton button > div:first-of-type {
  font-size: 1.5rem;
  font-weight: 700;
  color: #000;
}

.foodButton button {
  @include firstDisplaySettings;
  align-items: flex-start;
  gap: 0.5rem;
}

.foodButton button > div:last-child {
  font-size: 1rem;
  font-weight: 500;
  padding: 1rem 0;
  color: #000;
}

.ReactModal__Overlay > .modalContainer > .mfoContainer {
  opacity: 0; 
  transition: opacity 300ms ease-in-out;
  
}

.ReactModal__Overlay--after-open > .modalContainer > .mfoContainer {
  opacity: 1;
}

.ReactModal__Overlay--before-close > .modalContainer > .mfoContainer {
  opacity: 0; 
}
