.orderPage {
  background: linear-gradient(
    to bottom,
    white 5%,
    #e5f8bc 15%,
    rgb(249, 249, 249) 80%
  );
  height: 130vh;
}

.progressBar {
  width: 50%;
  background-color: #000;
  height: 0.25rem;
  margin: 0.75rem 0 1.2rem;
  transform: rotateX();
  transition: all 0.5s ease;
}

.secondStep {
  width: 100%;
  transform: rotateX();
  transition: all 0.5s ease;
}

.hide {
  display: none;
}
