.orderPage {
  background: linear-gradient(
    to bottom,
    white 10%,
    #e5f8bc 30%,
    rgb(249, 249, 249) 60%
  );
}

.progressBar {
  width: 50%;
  background-color: #000;
  height: 0.25rem;
  margin: 0.75rem 0 1.2rem;
  transform: rotateX();
  transition: all 0.5s ease;
}

.secondStep {
  width: 100%;
  transform: rotateX();
  transition: all 0.5s ease;
}

.hide {
  display: none;
}
