@import "../mixins.scss";

.top-header {
  justify-content: space-between;
  margin:  1rem 3rem;
}

.top-header__logo,
.top-header__search,
.top-header {
  @include firstDisplaySettings;
  flex-direction: row;
  gap: 1rem;
}

.ReactModal__Overlay > .modalContainer {
  transform: translateX(100%); 
  transition: ease-in-out 500ms ;  
}

.ReactModal__Overlay--after-open > .modalContainer {
  transform: translateX(0);
  
}

.ReactModal__Overlay--before-close > .modalContainer {
  transform: translateX(100%); 
}
