@import "../mixins.scss";

.Top-header {
  justify-content: space-between;
  margin: 1rem 3rem;
}

.Top-header__logo,
.Top-header__search,
.Top-header {
  @include firstDisplaySettings;
  flex-direction: row;
}

.ReactModal__Overlay > .modalContainer {
  transform: translateX(100%); 
  transition: all 500ms ;  
}

.ReactModal__Overlay--after-open > .modalContainer {
  transform: translateX(0);
}

.ReactModal__Overlay--before-close > .modalContainer {
  transform: translateX(100%); 
}

