.Top-header {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  flex-direction: column;
  padding: 0 5rem;
}

.Top-header__logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.Top-header__search {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
}
