.hide {
  display: none;
}

.orderPage__content {
  display: flex;
}

.orderPage__content:not(div:first-child) {
  display: block;
}

.orderPage__content:not(div:first-child) > h2 {
  font-size: 2rem;
  font-weight: 700;
}

.bodyContainer {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: -5rem;
  gap: 2rem;
}

.contactAndSteps > p:first-of-type {
  font-size: 1.5rem;
  font-weight: 700;
  color: #000;
}

.checkout > h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #000;
  padding: 6rem 8rem;
  /* fix it later */
}

.orderList,
.orderTotal {
  width: 20rem;
  display: flex;
  justify-content: space-between;
}

.yourOrder {
  padding: 1rem;
  background-color: #fff;
  border-radius: 0.5rem;
  z-index: 5;
}

.yourOrder p,
.yourOrder h2 {
  padding: 0.75rem 0;
}

.contactAndSteps {
  width: 70rem;
  display: flex;
  justify-content: space-between;
}

.orderContainer1 {
  background-color: #fff;
  padding: 1rem;
  z-index: 5;
  border-radius: 0.5rem;
}

.orderContainer1,
.yourOrder {
  width: auto;
  height: auto;
}

.orderPage__content input {
  background-color: rgb(248, 248, 248);
  margin: 0.5rem 0;
}

.smallText {
  font-size: 0.7rem;
}

.btn {
  margin: 0.5rem 0 !important;
}

.btnClass {
  display: flex;
  justify-content: space-between;
}

.clazz3 {
  padding: 0 !important;
}
