@import "../_mixins.scss";

.secondHeaderClass {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-family: Montserrat;
  font-size: 2.74688rem;
  font-style: normal;
  font-weight: 700;
  line-height: 4rem;
  letter-spacing: -0.15rem;
  height: 15rem;
  margin-bottom: 2rem;
}

.kara_fin {
  background-image: url("../../images/RestaurantForCard1.webp");
  @include RestaurantBgcSettings;
}

.mira {
  background-image: url("../../images/RestaurantForCard3.avif");
  @include RestaurantBgcSettings;

}

.t-kuyltje {
  background-image: url("../../images/RestaurantForCard2.jpeg");
  @include RestaurantBgcSettings;
}
