.secondHeaderClass {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 2.74688rem;
  font-style: normal;
  font-weight: 700;
  line-height: 4rem;
  letter-spacing: -0.13738rem;
  height: 15rem;
  margin-bottom: 2rem;
}

.kara_fin {
  background-image: url("../../images/RestaurantForCard1.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.mira {
  background-image: url("../../images/RestaurantForCard3.avif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.t-kuyltje {
  background-image: url("../../images/RestaurantForCard2.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
