@import "../mixins.scss";

.orderList,
.total2 {
  width: 100%;
  @include firstDisplaySettings;
  align-items: flex-start;
}

.orderTotal > h2 {
  font-size: 1rem;
  font-weight: 600;
}

.orderList > p,
.total1 h2,
.orderTotal > h2 {
  padding: 1rem;
}

.orderList > p:first-child {
  font-weight: 700;
  padding: 0.5rem 1rem;
}

.orderList p:last-child {
  font-size: 1.15rem;
  padding: 0 auto;
}

.orderTotal {
  width: 100% !important;
  @include firstDisplaySettings;
  bottom: 0;
  position: inherit;
}

.remove_btn button {
  display: flex;
  top: -2.5rem;
  right: -21rem;
}

button.remove {
  padding: .5rem;
  transition: ease-in-out .3s ;
  
  &:hover {
    transform: scale(1.1)
  }
}

.total1 {
  @include secondDisplaySettings;
  align-items: center;
  width: 100%;
}

.total2 button {
  width: 305%;
  margin: 1rem;
}

.orderListContainer {
  @include firstDisplaySettings;
  max-height: 75%;
  /* fix it later */
  overflow-y: auto;
}

.orderTotal p:first-of-type {
  background-color: rgba(240, 240, 240, 0.61);
  width: 100%;
  height: 0.1rem;
  position: absolute;
  left: 0;
}

.modalContainer {
  background-color: #fff;
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  left: unset;
  height: 100vh;
  width: 25rem;
}

.modalContainer > h2,
.yourOrder > h2 {
  font-size: 1.5rem;
  font-weight: 700;
  color: black;
  padding: 1rem;
  background-color: #f9f9f9;
}
