@mixin firstDisplaySettings {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin secondDisplaySettings {
  display: flex;
  justify-content: space-between;

}

@mixin baseFontFamilyAndColor {
  font-family : "Montserrat";
  color : #202020;
  font-style: normal;
  line-height: normal;
}

@mixin FontFamilyHind {
  font-family: "Hind";
  font-style: normal;
  line-height: normal;
  font-weight: 400;
}

@mixin LogoSize {
  text-align: start;
  @include baseFontFamilyAndColor;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  fill: none;
  position: relative;
  min-height: 0px;
  background-position: center center;
  background-repeat: no-repeat;
  transition: background 250ms ease-in 0s, color, border;
  box-sizing: border-box;
  color: rgb(44, 44, 44);
  overflow: visible;
}

@mixin RestaurantBgcSettings {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@mixin animations {
  display: flex;
  justify-content: center;
  align-items: center;
  // width: 2rem;
  // height: 2rem;
}

@mixin light-theme {
  background-color: #fff;
  color: #202020;
}

@mixin dark-theme {
  background-color: #202020;
  color: #fff;
}