.customText {
  padding: 0.1875rem 1rem;
}

.customText p:first-of-type {
  font-size: 1.4rem;
  font-weight: 700;
  color: #202020;
}

.customText p:nth-of-type(2) {
  color: #596f72;
  font-family: Hind;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.customText p:nth-of-type(3) {
  color: #4d4d4d;
  font-family: Hind;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.customText p:nth-child(4) {
  color: #636363;
  font-family: Hind;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: #e9e9e9;
  border-radius: 0.25rem;
  width: 7rem;
  text-align: center;
}
