.ourFavouritePicks {
  width: 90%;
  margin: 0 auto;
  padding: 3rem 1rem;
}

.ourFavouritePicks h2 {
  color: #2c2c2c;
  font-size: 2.1975rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3rem;
}

.carousel-container div {
  background-color: #f9f9f9;
  border-radius: 0.5rem;
  margin: 0.75rem;
}

.carousel-container div > img {
  width: 100%;
  height: 15rem;
  border-radius: 0.5rem 0.5rem 0 0;
  object-fit: cover;
}

.react-multiple-carousel__arrow--left {
  left: calc(5% - 4.5rem) ;
  top: calc(47.5% + 1rem) ;
  background-color: #202020 ;
  z-index: 0;
}

.react-multiple-carousel__arrow--right {
  right: calc(5% - 4.5rem) ;
  top: calc(47.5% + 1rem) ;
  background-color: #202020 ;
  z-index: 0;
}

.carousel-container > ul > li:hover {
  filter: brightness(0.97);
}
