.OurFavouritePicks {
  padding: 4.5rem 3.5rem;
}

.OurFavouritePicks > h2 {
  color: #2c2c2c;
  font-size: 2.1975rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3rem;
}

.carousel-container_2 > div:first-child {
  background-color: #fff;
}

.slick-slide > div:first-child {
  background-color: #f9f9f9;
  border-radius: 0.5rem;
  margin: 0 3.4rem;
  /* fix it later */
}

.carousel-item_2 > p {
  padding: 0.1875rem 1rem;
}

.carousel-item_2 > p:first-of-type {
  font-size: 1.4rem;
  font-weight: 700;
  color: #202020;
}

.carousel-item_2 > p:nth-of-type(2) {
  color: #596f72;
  font-family: Hind;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.carousel-item_2 > p:nth-of-type(3) {
  color: #4d4d4d;
  font-family: Hind;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.carousel-item_2 > p:nth-child(5) {
  color: #636363;
  font-family: Hind;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background: #e9e9e9;
  border-radius: 0.5rem;
  padding: 0.1875rem 0.5rem;
  margin: 1rem;
  width: 6rem;
  text-align: center;
  /* fix it later */
}
