.secondHeader {
  display: flex;
  background-color: #e5f8bc;
  justify-content: center;
  align-items: center;
  color: #2c2c2c;
  text-align: center;
  font-family: Montserrat;
  font-size: 2.74688rem;
  font-style: normal;
  line-height: 4rem;
  letter-spacing: -0.13738rem;
  height: 15rem;
}
