@import "../mixins.scss";

.Banner {
  @include firstDisplaySettings;
  background-color: #b1dde4;
}


.Banner > h2 {
  @include baseFontFamilyAndColor;
  text-align: center;
  font-size: 2.2rem;
  font-weight: 700;
  letter-spacing: -.15rem;
  margin: 5.5rem 0 2rem;
}

.Banner h2 span {
  @include baseFontFamilyAndColor;
  font-weight: 600;
}

.images {
@include firstDisplaySettings
}

.ladies {
  width: 70%;
}
